{% extends "index.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans "Profile" %}{% endblock%}
{% block main %}

<script src="{% static "js/shareButtons.js" %}"></script>

<main id="profile">

  <div class="content">
    <h1>{% trans "Profile" %}
      {% if u == user %}
      {% include "blocks/profile-menu.html" with status="active" %}
      {% endif %}
    </h1>

    <section class="user inline-block indented-block">
      {% if u != user %}
      <a class="button" href="{% url 'propose' receptor_id=u.pk %}">
      {% trans "Trade" %}
      </a>
      {% endif %}
      {% with myPartners=user.profile.partners.all hisPartners=u.profile.partners.all%}
      {% include "blocks/user.html" with add="True" %}
      {% if u.profile.get_requests.count %}
      {% include "blocks/sites-list.html" with requests=u.profile.get_requests %}
      {% endif %}
      {% if u.profile.get_offers.count %}
      {% include "blocks/sites-list.html" with offers=u.profile.get_offers %}
      {% endif %}
      {% if u.profile.get_reflinks.count %}
      {% include "blocks/sites-list.html" with links=u.profile.get_reflinks %}
      {% endif %}
      {% if u == user %}
      {% trans "Check out my profile" as text %}
      {% with user_id=user.id|stringformat:"s" %}
      {% include "blocks/social-buttons.html" with text=text url="https://"|add:request.get_host|add:request.path|add:user_id %}
      {% endwith %}
      {% endif %}
      {% endwith %}
    </section>
  </div>

  {% include "ads/sideAd.html" %}

  {% include "ads/bottomLink.html" %}

</main>

{% endblock %}