<div class="socialButtons">
  <a class="twitter-share-button" count="none" href="https://twitter.com/share"
    data-url="{{ url }}"
    data-text="{{ text }} at #inviMarket"
    data-count="none">
    Tweet</a>
  <div class="g-plus" data-action="share"
    data-href="{{ url }}"
    data-annotation="none">
  </div>
  <div class="fb-share-button"
    data-href="{{ url }}"
    data-layout="button">
  </div>
  <a href="whatsapp://send"
    data-text="{{ text }} at inviMarket!"
    data-url="{{ url }}"
    data-href="" class="wa_btn wa_btn_s" style="display:none">Share</a>
</div>