<!DOCTYPE HTML>
{% load staticfiles %}
{% load i18n %}

<html>

<head>
    <title>500 Internal Server Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,
    minimum-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link href='http://fonts.googleapis.com/css?family=Londrina+Sketch%7CUbuntu:5000%7CPlay%7COpen+Sans'
          rel='stylesheet' type='text/css'>
</head>

<body>

  <header class="header500">

    <img src="{% static 'images/logo.svg' %}" id="logo" alt="I"/>


    <h1 class="slogan title500"> 500 Internal Server Error </h1>



    <div class="status-bar">

    </div>

    <nav>
    </nav>

  </header>

  <main id="500">
  <h1> {% trans "Ups, something has gone wrong." %}</h1>
  <p class="message"> {% trans "Look behind you, a three headed monkey!" %}</p>
  </main>


</body>

</html>