{% extends "index.html" %}
{% load staticfiles %}
{% load i18n %}
{% block main %}
<main id="config">
  <h1>{% trans "Profile" %}
      {% include "blocks/profile-menu.html" with config="active" %}
  </h1>
  <form action="{% url 'config' %}" class="form inline-block indented-block"
        method="post" enctype="multipart/form-data">{% csrf_token %}
    {% if message %}
    {% trans message %}
    {% else %}
    {% if user.profile.avatar %}
    <img class="avatar config-avatar" alt="Avatar" src="{{user.profile.avatar.url}}"/>
    {% else %}
    <img class="avatar config-avatar" alt="Avatar" src="{% static "images/user.svg" %}"/>
    {% endif %}
    <h3 class="inline-header">
      {{ config_form.first_name }}
    </h3>
    {{ config_form.avatar }}
    <ul>
      <li><label>{% trans "Language:" %}</label> {{ config_form.lang }}</li>
      <li><label>{% trans "Receive email notifications:" %}</label> {{ config_form.notify }}</li>
      <li><input type="submit" value="{% trans "Save" %}" /></li>
    </ul>
    <span>
      <a href="{% url 'password_change'%}">{% trans "Change password" %}</a> |
      <a href="{% url 'del_profile'%}">{% trans "Delete account" %}</a>
    </span>
    {% endif %}
  </form>
</main>
{% endblock %}