{% extends "index.html" %}
{% block main %}

<main id="glossary">

  <h1>Glossary</h1>

  <section id="C" class="infotext">
    <h2>C</h2>
    <ul>
     <li>
       <h4 class="faq-header">Complaint</h4>
       <p>The act of requesting the admin to review a trade due to unsent
       invites.</p>
      </li>
    </ul>
  </section>

  <section id="O" class="infotext">
    <h2>O</h2>
    <ul>
     <li>
       <h4 class="faq-header">Offer</h4>
       <p>The act of offering an invite to a specific website. </p>
      </li>
    </ul>
  </section>

  <section id="P" class="infotext">
    <h2>P</h2>
    <ul>
      <li>
        <h4 class="faq-header">Partner</h4>
        <p>A user you can trust to send and receive invites.</p>
      </li>
      <li>
        <h4 class="faq-header">Popularity</h4>
        <p>An evaluation of the users interest in a site, based on the
        number of requests, offers and visits.</p>
      </li>
    </ul>
  </section>

  <section id="R" class="infotext">
    <h2>R</h2>
    <ul>
      <li>
        <h4 class="faq-header">Rating</h4>
        <p>An evaluation of the user activity based on positive actions,
        such as donating invites or updating sites information. The rating
        is calculated with the following formula:<br/><br/>
        <i>Rating</i> = 4×<i>donations</i> + 2×<i>trades</i> + 2×<i>sites</i>
        + <i>editions</i> − 5×<i>warnings</i> − 2×<i>inactivity</i>
        <br/><br/>
        Where <i>inactivity</i> represents the number of months since the
        user's last visit.</p>
      </li>
      <li>
        <h4 class="faq-header">Referral chain</h4>
        <p>A chain of users where a new user sign up for the target site
        using the referral link of the last one.</p>
      </li>
      <li>
        <h4 class="faq-header">Referral link</h4>
        <p>A link to register in a site, which gives the referral, and
        sometimes the new registered user as well, some sort of reward.</p>
      </li>
      <li>
        <h4 class="faq-header">Request</h4>
        <p>The act of asking for an invite to a specific website.</p>
      </li>
    </ul>
  </section>

  <section id="T" class="infotext">
    <h2>T</h2>
    <ul>
      <li>
        <h4 class="faq-header">Trade</h4>
        <p>An exchange of invites between two users or a donation from
        one to another.</p>
      </li>
    </ul>
  </section>

  <section id="W" class="infotext">
    <h2>W</h2>
    <ul>
      <li>
        <h4 class="faq-header">Warning</h4>
        <p>A notice given to an user due to an accepted or automatic
        complaint when the invites have not been sent. After three warnings
        the user will be banned.</p>
      </li>
    </ul>
  </section>

</main>

{% endblock %}