{% extends "index.html" %}
{% block main %}

<main id="glossary">

  <h1>Glossary</h1>

  <section id="O" class="infotext">
    <h2>O</h2>
    <ul>
     <li>
       <h4 class="faq-header">Offer</h4>
       <p>The act of offering an invite to a specific website. </p>
      </li>
    </ul>
  </section>

  <section id="P" class="infotext">
    <h2>P</h2>
    <ul>
      <li>
        <h4 class="faq-header">Partner</h4>
        <p>A user you can trust to send and receive invites.</p>
      </li>
      <li>
        <h4 class="faq-header">Popularity</h4>
        <p>An evaluation of the users interest in a site, based on the
        number of requests, offers and visits.</p>
      </li>
    </ul>
  </section>

  <section id="R" class="infotext">
    <h2>R</h2>
    <ul>
      <li>
        <h4 class="faq-header">Rating</h4>
        <p>An evaluation of the user activity based on positive actions,
        such as donating invites or updating sites information.</p>
      </li>
      <li>
        <h4 class="faq-header">Referral link</h4>
        <p>A link to register in a site, which gives the referral, and
        sometimes the new registered user as well, some sort of reward.</p>
      </li>
      <li>
        <h4 class="faq-header">Request</h4>
        <p>The act of asking for an invite to a specific website.</p>
      </li>
    </ul>
  </section>

  <section id="T" class="infotext">
    <h2>T</h2>
    <ul>
      <li>
        <h4 class="faq-header">Trade</h4>
        <p>An exchange of invites between two users or a donation from
        one to another.</p>
      </li>
    </ul>
  </section>

</main>

{% endblock %}