{% extends "index.html" %}
{% load i18n %}
{% block title %}{% trans "User recovery" %}{% endblock%}
{% block main %}

<main id="recovery">
  <h1>{% trans "User recovery" %}</h1>
  <form method="post" action="{% url 'password_reset' %}"
        class="form indented-block">{% csrf_token %}
    <ul>
      {{ form.as_ul }}
      <li><input type="submit" value="Send" /></li>
    </ul>
  </form>
  <div class="help">
    {% blocktrans %}
    You will receive and email with your username and a link to set a new
    password if you don't remember it.
    {% endblocktrans %}
  </div>
</main>

{% endblock %}