{% load staticfiles %}
{% load i18n %}

<section class="inlineSitesList">
  {% if offers %}
  <img alt="Offers" class="envelop" src="{% static "images/out.svg" %}"/>
  <ul>
    {% for offer in offers %}
    {% if trade or partner or not offer.website.protected or u in myPartners and user in hisPartners %}
    <li>
      <a class="siteLink" href="{% url 'sites' site_name=offer.website.name|urlencode %}">
        {% if offer.website.logo %}
        <img alt="Logo" class="siteLogo" src="{{offer.website.logo.url}}"/>
        {% endif %}
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  {% elif requests %}
  <img alt="Requests" class="envelop" src="{% static "images/in.svg" %}"/>
  <ul>
    {% for request in requests %}
    {% if trade or partner or not request.website.protected or u in myPartners and user in hisPartners %}
    <li>
      <a class="siteLink" href="{% url 'sites' site_name=request.website.name|urlencode %}">
        {% if request.website.logo %}
        <img alt="Logo" class="siteLogo" src="{{request.website.logo.url}}"/>
        {% endif %}
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
</section>